log.txt
Preprocessing/__pycache__
RNN/__pycache__
Preprocessing/word2vec.model.wv.vectors.npy
Preprocessing/word2vec.model.syn1neg.npy
Preprocessing/word2vec.model
__pycache__
main
# Added by cargo

/target
assets/favicon.ico:Zone.Identifier
assets/icon_ios_touch_192.png:Zone.Identifier
assets/icon-256.png:Zone.Identifier
assets/icon-1024.png:Zone.Identifier
assets/maskable_icon_x512.png:Zone.Identifier
