/model/*
/Extensions/*
src/inference/__pycache__
src/Preprocessing/__pycache__
src/Copy_YourSelf.egg-info/*
src/build/bdist.win-amd64/*
Copy_YourSelf.egg-info/*
build/bdist.win-amd64/*
src/__pycache__
Output
# Added by cargo

/target
assets/favicon.ico:Zone.Identifier
assets/icon_ios_touch_192.png:Zone.Identifier
assets/icon-256.png:Zone.Identifier
assets/icon-1024.png:Zone.Identifier
assets/maskable_icon_x512.png:Zone.Identifier
experiment.py
